@import "../../css-config/mixins.scss";

/* SingleProduct.scss */

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .product-image img {
    max-width: 400px; /* Adjust image size as needed */
    height: auto;
    margin-right: 20px;
  }
  
  .product-details {
    max-width: 400px; /* Adjust width as needed */
  }
  
  .product-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .quantity-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .quantity-button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #ddd;
    }
  
    &:first-child {
      margin-right: 10px;
    }
  
    &:last-child {
      margin-left: 10px;
    }
  }
  
  .quantity {
    font-size: 16px;
    margin: 0 10px;
  }
  
  .add-to-cart {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #555;
    }
  }
  