@import "../../../css-config/mixins.scss";

/* Search.scss */

.search-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input-container {
  position: relative;
  width: 80%;
  margin: 20px 0;
}

.search-input {
  width: calc(100% - 30px);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.close-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

.search-results {
  display: flex;
  flex-direction: column; /* Display as flex column */
}

.search-item {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row; /* Change to column */
  cursor: pointer;
}

// .search-item-content {
//   display: flex;
//   flex-direction: row; /* Change to row */
// }

.search-item-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

.search-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

