@import "../../css-config/mixins.scss";

/* Footer.scss */

.footer-section {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  
    p {
      font-size: 14px;
      margin: 0;
    }
  }
  