@import "../../../css-config/mixins.scss";

/* NewsletterWithBackground.scss */

.newsletter-section {
    background-color: #f7f7f7;
    padding: 20px;
  
    .newsletter-background {
      background-image: url('../../../assets/newsletter-bg.jpeg'); /* Replace 'path/to/your/image.jpg' with your image's path */
      background-size: cover;
      background-position: center;
      padding: 50px 0;
  
      .newsletter-content {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        color: #fff; /* Text color for better contrast with the background image */
  
        h2 {
          font-size: 24px;
          margin-bottom: 15px;
        }
  
        p {
          font-size: 16px;
          margin-bottom: 30px;
        }
  
        .newsletter-form {
          display: flex;
          justify-content: center;
          align-items: center;
  
          input[type='email'] {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
            width: 250px;
  
            &:focus {
              outline: none;
              border-color: #555;
            }
          }
  
          button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #333;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: #555;
            }
          }
        }
      }
    }
  }
  