@import "../../../css-config/mixins.scss";

.category-section {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img{
        height: 150px;
    }

    
}